.register{
    background-color: aqua;
}
.sign-up{
    background-color: aquamarine;
    border-radius: 15px;
    margin: 45px;
}
.already-account{
    text-decoration: none;
    font-style: italic;
    color: brown;
}