.single-contact-info {
    min-height: 171px;
    background: #fff;
    box-shadow: 0 6px 26px rgb(0 0 0 / 6%);
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 35px;
    -webkit-transition: .5s;
    transition: .5s;
}
.single-contact-info .c-icon {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    background: #ffe7ea;
    display: block;
    border-radius: 50%;
    color: #fc5185;
    color: var(--main-color);
    font-size: 26px;
    -webkit-transition: .5s;
    transition: .5s;
    margin-right: 20px;
}
.single-contact-info.icon2 .c-icon {
    color: #16d88a;
    background: #dcf9ee;
}