*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    top: 0;
    background-color: #00ffff;
}
.hero-slide-right {
    position: relative;
    background-image: url("../../image/banner/download.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    align-items: flex-end;
}
.animate-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 22;
}
.animate-img img:first-child {
    left: -91px;
    position: absolute;
    bottom: 40px;
}


.animate-img .aimg2 {
    margin-left: 88px;
    bottom: 30px;
}
.hospitality {
    min-height: 171px;
    background: #fff;
    box-shadow: 1px 2px 2px cyan;  
    padding: 10px 12px;
    transition: width 2s, height 4s;
}
.hospitality:hover{
    padding-bottom: 10px;
    background-color: aqua;
    border-radius: 15px;
    color: rgb(49, 22, 27);
}