.footer{
    padding: 2%;
   /* text-align: start; */
    background-color: aqua;
    padding-bottom: 0;
}
.under-footer{
    text-align: center;
    border-top: 1px solid green;
    align-items: center;
}